apiVersion: apps/v1
kind: Deployment
metadata:
  name: annekelabordus-nl-app
  namespace: prd
  labels:
    app: annekelabordus-nl-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: annekelabordus-nl-app
  template:
    metadata:
      labels:
        app: annekelabordus-nl-app
    spec:
      containers:
      - name: annekelabordus-nl-app
        image: teunzengerink/annekelabordus.nl:main
        imagePullPolicy: Always
        ports:
        - containerPort: 3000
        livenessProbe:
          httpGet:
            path: /api/healthz
            port: 3000
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 5
          periodSeconds: 5
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 2
